@inject IHostEnvironment Env

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pilgaard | dotnet blog</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <meta property="og:url" content="https://pilgaard-blog.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://pilgaard-blog.azurewebsites.net/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/prism.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/blog-post.css" rel="stylesheet" />
    <HeadOutlet />
    <script type="module" src="https://cdn.jsdelivr.net/npm/giscus/+esm"></script>
</head>
<body>
    <Routes />
    <div id="blazor-error-ui">
        @if (Env.IsDevelopment())
        {
            <text>
                An unhandled exception has occurred. See browser dev tools for details.
            </text>
        }
        else
        {
            <text>
                An error has occurred. This app may no longer respond until reloaded.
            </text>
        }
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        Blazor.start({
            ssr: { disableDomPreservation: true }
        });
    </script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script defer src="scripts/prism.js"></script>
</body>
</html>