@ChildContent
<div class="mt-5">
<BlogPostNavigationButton BlogPost="_previousBlogPost"
                          BlogPostSeries="BlogPostSeries"
                          Next="false" />

<BlogPostNavigationButton BlogPost="_nextBlogPost"
                          BlogPostSeries="BlogPostSeries"
                          Next="true" />
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    [Parameter]
    public BlogPostSeries BlogPostSeries { get; set; } = null!;
    [Parameter]
    public BlogPost CurrentBlogPost { get; set; } = null!;

    BlogPost? _previousBlogPost;
    BlogPost? _nextBlogPost;

    protected override void OnInitialized()
    {
        if (CurrentBlogPost.NumberInSeries > 1)
        {
            _previousBlogPost = BlogPostSeries
                .BlogPosts
                .FirstOrDefault(bp
                    => bp.NumberInSeries == CurrentBlogPost.NumberInSeries - 1);
        }

        _nextBlogPost = BlogPostSeries
            .BlogPosts
            .FirstOrDefault(bp
                => bp.NumberInSeries == CurrentBlogPost.NumberInSeries + 1);
    }
}
