<MudText Typo="Typo.h3" Color="Color.Secondary" Class="mt-8 mb-4">@BlogPostSeries.Title</MudText>

<div class="d-flex flex-wrap gap-2 justify-center justify-sm-start">
    @foreach (var blogPost in BlogPostSeries.BlogPosts)
    {
        <BlogPostCard BlogPost="@blogPost" BlogPostSeries="@BlogPostSeries"></BlogPostCard>
    }
</div>
@code {
    [Parameter]
    public BlogPostSeries BlogPostSeries { get; set; } = null!;
}