@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <NavMenu />
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
