@font-face {
    font-family: mallanna;
    src: url(../fonts/mallanna-regular.ttf);
}

.logo-text {
    font-family: mallanna !important;
    font-size: 5.15vw;
}

ol, ul {
    margin: 0.75rem 0;
    padding-left: 2rem;
    font-size: var(--mud-typography-body1-size);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
}

ul {
    list-style: initial;
}

    ul li ul {
        list-style: circle;
    }
